.chats-body {
  padding: 0;
}

.chats-body .header,
.chats-body .status-bar {
  padding: 0px 20px;
}

.chat {
  background-image: url(../images/chatBg.png);
  min-height: 100vh;
}

.chat__write {
  position: fixed;
  margin: 0 auto;
  left: 0;
  right: 0;
  bottom: 50px;
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fcfcfc;
  box-shadow: 0 30px 60px -12px rgba(50, 50, 93, 0.25),
    0 18px 36px -18px rgba(0, 0, 0, 0.3), 0 -12px 36px -8px rgba(0, 0, 0, 0.025);
  padding: 0px 20px;
  border-radius: 40px;
}

.chat__write i {
  font-size: 20px;
}

.chat__write-column:nth-child(2) {
  width: 80%;
}

.chat__write-column input {
  padding: 10px;
  width: 100%;
  border: none;
  font-size: 14px;
}

.chat__write-column input:focus {
  outline: none;
}
