.settings {
  border-top: 1px solid #f7f7f7;
}

.settings .settings__list {
  border-top: 1px solid #f7f7f7;
  padding: 30px 0px;
}

.settings__setting .settings__icon {
  font-size: 20px;
  margin-right: 20px;
  cursor: pointer;
}

.settings__setting .settings__title {
  font-size: 18px;
}

.settings .settings__setting {
  margin-bottom: 30px;
}

.settings .settings__setting:last-child {
  margin-bottom: 0;
}

.settings .settings__vertion {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
