@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");
@import "reset.css";
@import "status-bar.css";
@import "header.css";
@import "nav-bar.css";

* {
  box-sizing: border-box;
  /*nav-bar의 content 내용이 안보였다가 설정해주니 보이게 됨 그 이유는 패딩값을 줘도 콘텐츠를 보일 수 있도록 위에 설정을 했기 때문임*/
}

/* Default Valuce */

body {
  background-color: white;
  padding: 10px 20px;
  color: #020202;
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

a {
  color: inherit;
}
